app/build/*
.idea/
.gradle/
.project
.settings/
app/.classpath
app/.project
app/.settings/
app/release/
app/debug/

*.pepk
*.aab

google-services.json
*local.properties*

nextgentrainer-keystore
*.apk
